@model IEnumerable<Conference.Models.Comment>

<div id="commentsPanel">
    <ul>
        @foreach (var comment in Model)
        {
            <li>@comment.Content</li>
        }
    </ul>
    @*@using (Html.BeginForm("_Submit", "Comments", FormMethod.Post))*@
    @using (Ajax.BeginForm("_Submit", "Comments",
        new AjaxOptions { UpdateTargetId = "commentsPanel"}))
    {
        @Html.AntiForgeryToken();
        @Html.Action("_CommentForm", new { SessionId = ViewBag.SessionId })
    }
</div>
